<!doctype html>
<html class="no-js" lang="en" dir="ltr">
<head>
  <meta charset="utf-8">
  <meta http-equiv="x-ua-compatible" content="ie=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Foundation for Sites</title>
  <link rel="stylesheet" href="css/foundation.css">
  <link rel="stylesheet" href="css/app.css">
  <link rel="stylesheet" href="css/subpages.css">
  <script defer src="https://use.fontawesome.com/releases/v5.0.2/js/all.js"></script>
</head>
<body>
  <div class="header">
    <div class="title-bar" data-responsive-toggle="top-menu" data-hide-for="large">
      <div class="title-bar-left">
        <div class="title-bar-title">
          <img src="res/logo.png" class="logo">
        </div>
      </div>
      <div class="title-bar-right">
        <button class="menu-icon" type="button" data-toggle></button>
      </div>
    </div>
    <div class="top-bar" id="top-menu">
      <div class="top-bar-left" id="desktop-logo">
        <img src="res/logo.png" class="logo">
      </div>
      <div class="top-bar-right">
        <ul class="vertical large-horizontal menu">
          <li><a class="active" href="#hero">Home</a></li>
          <li><a href="#agenda">Agenda</a></li>
          <li><a href="#speakers">Speakers</a></li>
          <li><a href="#sponsors">Sponsors</a></li>
          <li><a href="#about">About</a></li>
          <li><a href="#tickets">Register now</a></li>
        </ul>
      </div>
    </div>
  </div>

  <section class="subpage-hero" id="speakers-hero">
    <div class="content">
      <h1 class="subpage-header">The team</h1>
      <p class="subheader">CFO Insights IVS is founded and run by business students from all over the country with an interest in the future role of the CFO. Get to know more about each individual member by clicking on their portraits.</p>
    </div>
  </section>

  <section class="content members-grid">
    <div class="grid-x grid-margin-x">
      <div class="large-3 medium-4 cell">
        <a class="card member-card" href="hecht.html">
          <div class="card-image">
            <img src="res/hecht.png">
          </div>
          <div class="card-divider member-title">
            <h2>Andreas Hougaard</h2>
            <p>Head of Marketing</p>
          </div>
          <div class="card-section member-details">
            <ul class="bulletless fa-ul">
              <li><span class="fa-li"><i class="fas fa-graduation-cap fa-fw"></i></span><span class="member-push-right">BSc in Business Administration & Economics</span></li>
              <li><span class="fa-li"><i class="fas fa-map-marker"></i></span><span class="member-push-right">Copenhagen Business School</span></li>
            </ul>
          </div>
        </a>
      </div>
      <div class="large-3 medium-4 cell">
        <div class="card member-card">
          <div class="card-image">
            <img src="res/hecht.png">
          </div>
          <div class="card-divider member-title">
            <h2>Andreas Hougaard</h2>
            <p>Head of Marketing</p>
          </div>
          <div class="card-section member-details">
            <ul class="bulletless fa-ul">
              <li><span class="fa-li"><i class="fas fa-graduation-cap fa-fw"></i></span><span class="member-push-right">BSc in Business Administration & Economics</span></li>
              <li><span class="fa-li"><i class="fas fa-map-marker"></i></span><span class="member-push-right">Copenhagen Business School</span></li>
            </ul>
          </div>
        </div>
      </div>
      <div class="large-3 medium-4 cell">
        <div class="card member-card">
          <div class="card-image">
            <img src="res/hecht.png">
          </div>
          <div class="card-divider member-title">
            <h2>Andreas Hougaard</h2>
            <p>Head of Marketing</p>
          </div>
          <div class="card-section member-details">
            <ul class="bulletless fa-ul">
              <li><span class="fa-li"><i class="fas fa-graduation-cap fa-fw"></i></span><span class="member-push-right">BSc in Business Administration & Economics</span></li>
              <li><span class="fa-li"><i class="fas fa-map-marker"></i></span><span class="member-push-right">Copenhagen Business School</span></li>
            </ul>
          </div>
        </div>
      </div>
      <div class="large-3 medium-4 cell">
        <div class="card member-card">
          <div class="card-image">
            <img src="res/hecht.png">
          </div>
          <div class="card-divider member-title">
            <h2>Andreas Hougaard</h2>
            <p>Head of Marketing</p>
          </div>
          <div class="card-section member-details">
            <ul class="bulletless fa-ul">
              <li><span class="fa-li"><i class="fas fa-graduation-cap fa-fw"></i></span><span class="member-push-right">BSc in Business Administration & Economics</span></li>
              <li><span class="fa-li"><i class="fas fa-map-marker"></i></span><span class="member-push-right">Copenhagen Business School</span></li>
            </ul>
          </div>
        </div>
      </div>
    </div>
</section>



<!-- Footer -->
<section class="footer center">
  <p>© COPYRIGHT 2017 CFO INSIGHTS IVS, ALL RIGHTS RESERVED 920 BROADWAY, 7TH FLOOR, NEW YORK, NY 10010 (646) 389-2523 </p>
</section>

<script src="js/vendor/jquery.js"></script>
<script src="js/vendor/what-input.js"></script>
<script src="js/vendor/foundation.js"></script>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/headroom/0.9.4/headroom.min.js"></script>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/headroom/0.9.4/jQuery.headroom.min.js"></script>
<script src="js/app.js"></script>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery-visible/1.2.0/jquery.visible.min.js"></script>
<script>
  window.FontAwesomeConfig = {
    searchPseudoElements: true
  }
</script>
</body>
</html>
